In [1]:
import requests
from api import api_key
import pprint
import json
import pandas as pd

In [2]:
#extract language data from endpoint

url = "https://api.themoviedb.org/3/configuration/languages"

headers = {
    "accept": "application/json",
    "Authorization": api_key
}

response = requests.get(url, headers=headers).json()

print(json.dumps(response, indent=4))

[
    {
        "iso_639_1": "xx",
        "english_name": "No Language",
        "name": "No Language"
    },
    {
        "iso_639_1": "aa",
        "english_name": "Afar",
        "name": ""
    },
    {
        "iso_639_1": "af",
        "english_name": "Afrikaans",
        "name": "Afrikaans"
    },
    {
        "iso_639_1": "ak",
        "english_name": "Akan",
        "name": ""
    },
    {
        "iso_639_1": "an",
        "english_name": "Aragonese",
        "name": ""
    },
    {
        "iso_639_1": "as",
        "english_name": "Assamese",
        "name": ""
    },
    {
        "iso_639_1": "av",
        "english_name": "Avaric",
        "name": ""
    },
    {
        "iso_639_1": "ae",
        "english_name": "Avestan",
        "name": ""
    },
    {
        "iso_639_1": "ay",
        "english_name": "Aymara",
        "name": ""
    },
    {
        "iso_639_1": "az",
        "english_name": "Azerbaijani",
        "name": "Az\u0259rbaycan"
    },
    {
        "iso_639_1": "ba",
        "english_name": "Bashkir",
        "name": ""
    },
    {
        "iso_639_1": "bm",
        "english_name": "Bambara",
        "name": "Bamanankan"
    },
    {
        "iso_639_1": "bi",
        "english_name": "Bislama",
        "name": ""
    },
    {
        "iso_639_1": "bo",
        "english_name": "Tibetan",
        "name": ""
    },
    {
        "iso_639_1": "br",
        "english_name": "Breton",
        "name": ""
    },
    {
        "iso_639_1": "ca",
        "english_name": "Catalan",
        "name": "Catal\u00e0"
    },
    {
        "iso_639_1": "cs",
        "english_name": "Czech",
        "name": "\u010cesk\u00fd"
    },
    {
        "iso_639_1": "ce",
        "english_name": "Chechen",
        "name": ""
    },
    {
        "iso_639_1": "cu",
        "english_name": "Slavic",
        "name": ""
    },
    {
        "iso_639_1": "cv",
        "english_name": "Chuvash",
        "name": ""
    },
    {
        "iso_639_1": "kw",
        "english_name": "Cornish",
        "name": ""
    },
    {
        "iso_639_1": "co",
        "english_name": "Corsican",
        "name": ""
    },
    {
        "iso_639_1": "cr",
        "english_name": "Cree",
        "name": ""
    },
    {
        "iso_639_1": "cy",
        "english_name": "Welsh",
        "name": "Cymraeg"
    },
    {
        "iso_639_1": "da",
        "english_name": "Danish",
        "name": "Dansk"
    },
    {
        "iso_639_1": "de",
        "english_name": "German",
        "name": "Deutsch"
    },
    {
        "iso_639_1": "dv",
        "english_name": "Divehi",
        "name": ""
    },
    {
        "iso_639_1": "dz",
        "english_name": "Dzongkha",
        "name": ""
    },
    {
        "iso_639_1": "eo",
        "english_name": "Esperanto",
        "name": "Esperanto"
    },
    {
        "iso_639_1": "et",
        "english_name": "Estonian",
        "name": "Eesti"
    },
    {
        "iso_639_1": "eu",
        "english_name": "Basque",
        "name": "euskera"
    },
    {
        "iso_639_1": "fo",
        "english_name": "Faroese",
        "name": ""
    },
    {
        "iso_639_1": "fj",
        "english_name": "Fijian",
        "name": ""
    },
    {
        "iso_639_1": "fi",
        "english_name": "Finnish",
        "name": "suomi"
    },
    {
        "iso_639_1": "fr",
        "english_name": "French",
        "name": "Fran\u00e7ais"
    },
    {
        "iso_639_1": "fy",
        "english_name": "Frisian",
        "name": ""
    },
    {
        "iso_639_1": "ff",
        "english_name": "Fulah",
        "name": "Fulfulde"
    },
    {
        "iso_639_1": "gd",
        "english_name": "Gaelic",
        "name": ""
    },
    {
        "iso_639_1": "ga",
        "english_name": "Irish",
        "name": "Gaeilge"
    },
    {
        "iso_639_1": "gl",
        "english_name": "Galician",
        "name": "Galego"
    },
    {
        "iso_639_1": "gv",
        "english_name": "Manx",
        "name": ""
    },
    {
        "iso_639_1": "gn",
        "english_name": "Guarani",
        "name": ""
    },
    {
        "iso_639_1": "gu",
        "english_name": "Gujarati",
        "name": ""
    },
    {
        "iso_639_1": "ht",
        "english_name": "Haitian; Haitian Creole",
        "name": ""
    },
    {
        "iso_639_1": "ha",
        "english_name": "Hausa",
        "name": "Hausa"
    },
    {
        "iso_639_1": "sh",
        "english_name": "Serbo-Croatian",
        "name": ""
    },
    {
        "iso_639_1": "hz",
        "english_name": "Herero",
        "name": ""
    },
    {
        "iso_639_1": "ho",
        "english_name": "Hiri Motu",
        "name": ""
    },
    {
        "iso_639_1": "hr",
        "english_name": "Croatian",
        "name": "Hrvatski"
    },
    {
        "iso_639_1": "hu",
        "english_name": "Hungarian",
        "name": "Magyar"
    },
    {
        "iso_639_1": "ig",
        "english_name": "Igbo",
        "name": ""
    },
    {
        "iso_639_1": "io",
        "english_name": "Ido",
        "name": ""
    },
    {
        "iso_639_1": "ii",
        "english_name": "Yi",
        "name": ""
    },
    {
        "iso_639_1": "iu",
        "english_name": "Inuktitut",
        "name": ""
    },
    {
        "iso_639_1": "ie",
        "english_name": "Interlingue",
        "name": ""
    },
    {
        "iso_639_1": "ia",
        "english_name": "Interlingua",
        "name": ""
    },
    {
        "iso_639_1": "id",
        "english_name": "Indonesian",
        "name": "Bahasa indonesia"
    },
    {
        "iso_639_1": "ik",
        "english_name": "Inupiaq",
        "name": ""
    },
    {
        "iso_639_1": "is",
        "english_name": "Icelandic",
        "name": "\u00cdslenska"
    },
    {
        "iso_639_1": "it",
        "english_name": "Italian",
        "name": "Italiano"
    },
    {
        "iso_639_1": "jv",
        "english_name": "Javanese",
        "name": ""
    },
    {
        "iso_639_1": "ja",
        "english_name": "Japanese",
        "name": "\u65e5\u672c\u8a9e"
    },
    {
        "iso_639_1": "kl",
        "english_name": "Kalaallisut",
        "name": ""
    },
    {
        "iso_639_1": "kn",
        "english_name": "Kannada",
        "name": "?????"
    },
    {
        "iso_639_1": "ks",
        "english_name": "Kashmiri",
        "name": ""
    },
    {
        "iso_639_1": "kr",
        "english_name": "Kanuri",
        "name": ""
    },
    {
        "iso_639_1": "kk",
        "english_name": "Kazakh",
        "name": "\u049b\u0430\u0437\u0430\u049b"
    },
    {
        "iso_639_1": "km",
        "english_name": "Khmer",
        "name": ""
    },
    {
        "iso_639_1": "ki",
        "english_name": "Kikuyu",
        "name": ""
    },
    {
        "iso_639_1": "rw",
        "english_name": "Kinyarwanda",
        "name": "Kinyarwanda"
    },
    {
        "iso_639_1": "ky",
        "english_name": "Kirghiz",
        "name": "??????"
    },
    {
        "iso_639_1": "kv",
        "english_name": "Komi",
        "name": ""
    },
    {
        "iso_639_1": "kg",
        "english_name": "Kongo",
        "name": ""
    },
    {
        "iso_639_1": "ko",
        "english_name": "Korean",
        "name": "\ud55c\uad6d\uc5b4/\uc870\uc120\ub9d0"
    },
    {
        "iso_639_1": "kj",
        "english_name": "Kuanyama",
        "name": ""
    },
    {
        "iso_639_1": "ku",
        "english_name": "Kurdish",
        "name": ""
    },
    {
        "iso_639_1": "lo",
        "english_name": "Lao",
        "name": ""
    },
    {
        "iso_639_1": "la",
        "english_name": "Latin",
        "name": "Latin"
    },
    {
        "iso_639_1": "lv",
        "english_name": "Latvian",
        "name": "Latvie\u0161u"
    },
    {
        "iso_639_1": "li",
        "english_name": "Limburgish",
        "name": ""
    },
    {
        "iso_639_1": "ln",
        "english_name": "Lingala",
        "name": ""
    },
    {
        "iso_639_1": "lt",
        "english_name": "Lithuanian",
        "name": "Lietuvi\u0173"
    },
    {
        "iso_639_1": "lb",
        "english_name": "Letzeburgesch",
        "name": ""
    },
    {
        "iso_639_1": "lu",
        "english_name": "Luba-Katanga",
        "name": ""
    },
    {
        "iso_639_1": "lg",
        "english_name": "Ganda",
        "name": ""
    },
    {
        "iso_639_1": "mh",
        "english_name": "Marshall",
        "name": ""
    },
    {
        "iso_639_1": "ml",
        "english_name": "Malayalam",
        "name": ""
    },
    {
        "iso_639_1": "mr",
        "english_name": "Marathi",
        "name": ""
    },
    {
        "iso_639_1": "mg",
        "english_name": "Malagasy",
        "name": ""
    },
    {
        "iso_639_1": "mt",
        "english_name": "Maltese",
        "name": "Malti"
    },
    {
        "iso_639_1": "mo",
        "english_name": "Moldavian",
        "name": ""
    },
    {
        "iso_639_1": "mn",
        "english_name": "Mongolian",
        "name": ""
    },
    {
        "iso_639_1": "mi",
        "english_name": "Maori",
        "name": ""
    },
    {
        "iso_639_1": "ms",
        "english_name": "Malay",
        "name": "Bahasa melayu"
    },
    {
        "iso_639_1": "my",
        "english_name": "Burmese",
        "name": ""
    },
    {
        "iso_639_1": "na",
        "english_name": "Nauru",
        "name": ""
    },
    {
        "iso_639_1": "nv",
        "english_name": "Navajo",
        "name": ""
    },
    {
        "iso_639_1": "nr",
        "english_name": "Ndebele",
        "name": ""
    },
    {
        "iso_639_1": "nd",
        "english_name": "Ndebele",
        "name": ""
    },
    {
        "iso_639_1": "ng",
        "english_name": "Ndonga",
        "name": ""
    },
    {
        "iso_639_1": "ne",
        "english_name": "Nepali",
        "name": ""
    },
    {
        "iso_639_1": "nl",
        "english_name": "Dutch",
        "name": "Nederlands"
    },
    {
        "iso_639_1": "nn",
        "english_name": "Norwegian Nynorsk",
        "name": ""
    },
    {
        "iso_639_1": "nb",
        "english_name": "Norwegian Bokm\u00e5l",
        "name": "Bokm\u00e5l"
    },
    {
        "iso_639_1": "no",
        "english_name": "Norwegian",
        "name": "Norsk"
    },
    {
        "iso_639_1": "ny",
        "english_name": "Chichewa; Nyanja",
        "name": ""
    },
    {
        "iso_639_1": "oc",
        "english_name": "Occitan",
        "name": ""
    },
    {
        "iso_639_1": "oj",
        "english_name": "Ojibwa",
        "name": ""
    },
    {
        "iso_639_1": "or",
        "english_name": "Oriya",
        "name": ""
    },
    {
        "iso_639_1": "om",
        "english_name": "Oromo",
        "name": ""
    },
    {
        "iso_639_1": "os",
        "english_name": "Ossetian; Ossetic",
        "name": ""
    },
    {
        "iso_639_1": "pi",
        "english_name": "Pali",
        "name": ""
    },
    {
        "iso_639_1": "pl",
        "english_name": "Polish",
        "name": "Polski"
    },
    {
        "iso_639_1": "pt",
        "english_name": "Portuguese",
        "name": "Portugu\u00eas"
    },
    {
        "iso_639_1": "qu",
        "english_name": "Quechua",
        "name": ""
    },
    {
        "iso_639_1": "rm",
        "english_name": "Raeto-Romance",
        "name": ""
    },
    {
        "iso_639_1": "ro",
        "english_name": "Romanian",
        "name": "Rom\u00e2n\u0103"
    },
    {
        "iso_639_1": "rn",
        "english_name": "Rundi",
        "name": "Kirundi"
    },
    {
        "iso_639_1": "ru",
        "english_name": "Russian",
        "name": "P\u0443\u0441\u0441\u043a\u0438\u0439"
    },
    {
        "iso_639_1": "sg",
        "english_name": "Sango",
        "name": ""
    },
    {
        "iso_639_1": "sa",
        "english_name": "Sanskrit",
        "name": ""
    },
    {
        "iso_639_1": "si",
        "english_name": "Sinhalese",
        "name": "\u0dc3\u0dd2\u0d82\u0dc4\u0dbd"
    },
    {
        "iso_639_1": "sk",
        "english_name": "Slovak",
        "name": "Sloven\u010dina"
    },
    {
        "iso_639_1": "sl",
        "english_name": "Slovenian",
        "name": "Sloven\u0161\u010dina"
    },
    {
        "iso_639_1": "se",
        "english_name": "Northern Sami",
        "name": ""
    },
    {
        "iso_639_1": "sm",
        "english_name": "Samoan",
        "name": ""
    },
    {
        "iso_639_1": "sn",
        "english_name": "Shona",
        "name": ""
    },
    {
        "iso_639_1": "sd",
        "english_name": "Sindhi",
        "name": ""
    },
    {
        "iso_639_1": "so",
        "english_name": "Somali",
        "name": "Somali"
    },
    {
        "iso_639_1": "st",
        "english_name": "Sotho",
        "name": ""
    },
    {
        "iso_639_1": "es",
        "english_name": "Spanish",
        "name": "Espa\u00f1ol"
    },
    {
        "iso_639_1": "sq",
        "english_name": "Albanian",
        "name": "shqip"
    },
    {
        "iso_639_1": "sc",
        "english_name": "Sardinian",
        "name": ""
    },
    {
        "iso_639_1": "sr",
        "english_name": "Serbian",
        "name": "Srpski"
    },
    {
        "iso_639_1": "ss",
        "english_name": "Swati",
        "name": ""
    },
    {
        "iso_639_1": "su",
        "english_name": "Sundanese",
        "name": ""
    },
    {
        "iso_639_1": "sw",
        "english_name": "Swahili",
        "name": "Kiswahili"
    },
    {
        "iso_639_1": "sv",
        "english_name": "Swedish",
        "name": "svenska"
    },
    {
        "iso_639_1": "ty",
        "english_name": "Tahitian",
        "name": ""
    },
    {
        "iso_639_1": "ta",
        "english_name": "Tamil",
        "name": "\u0ba4\u0bae\u0bbf\u0bb4\u0bcd"
    },
    {
        "iso_639_1": "tt",
        "english_name": "Tatar",
        "name": ""
    },
    {
        "iso_639_1": "te",
        "english_name": "Telugu",
        "name": "\u0c24\u0c46\u0c32\u0c41\u0c17\u0c41"
    },
    {
        "iso_639_1": "tg",
        "english_name": "Tajik",
        "name": ""
    },
    {
        "iso_639_1": "tl",
        "english_name": "Tagalog",
        "name": ""
    },
    {
        "iso_639_1": "th",
        "english_name": "Thai",
        "name": "\u0e20\u0e32\u0e29\u0e32\u0e44\u0e17\u0e22"
    },
    {
        "iso_639_1": "ti",
        "english_name": "Tigrinya",
        "name": ""
    },
    {
        "iso_639_1": "to",
        "english_name": "Tonga",
        "name": ""
    },
    {
        "iso_639_1": "tn",
        "english_name": "Tswana",
        "name": ""
    },
    {
        "iso_639_1": "ts",
        "english_name": "Tsonga",
        "name": ""
    },
    {
        "iso_639_1": "tk",
        "english_name": "Turkmen",
        "name": ""
    },
    {
        "iso_639_1": "tr",
        "english_name": "Turkish",
        "name": "T\u00fcrk\u00e7e"
    },
    {
        "iso_639_1": "tw",
        "english_name": "Twi",
        "name": ""
    },
    {
        "iso_639_1": "ug",
        "english_name": "Uighur",
        "name": ""
    },
    {
        "iso_639_1": "uk",
        "english_name": "Ukrainian",
        "name": "\u0423\u043a\u0440\u0430\u0457\u043d\u0441\u044c\u043a\u0438\u0439"
    },
    {
        "iso_639_1": "ur",
        "english_name": "Urdu",
        "name": "\u0627\u0631\u062f\u0648"
    },
    {
        "iso_639_1": "uz",
        "english_name": "Uzbek",
        "name": "ozbek"
    },
    {
        "iso_639_1": "ve",
        "english_name": "Venda",
        "name": ""
    },
    {
        "iso_639_1": "vi",
        "english_name": "Vietnamese",
        "name": "Ti\u1ebfng Vi\u1ec7t"
    },
    {
        "iso_639_1": "vo",
        "english_name": "Volap\u00fck",
        "name": ""
    },
    {
        "iso_639_1": "wa",
        "english_name": "Walloon",
        "name": ""
    },
    {
        "iso_639_1": "wo",
        "english_name": "Wolof",
        "name": "Wolof"
    },
    {
        "iso_639_1": "xh",
        "english_name": "Xhosa",
        "name": ""
    },
    {
        "iso_639_1": "yi",
        "english_name": "Yiddish",
        "name": ""
    },
    {
        "iso_639_1": "za",
        "english_name": "Zhuang",
        "name": ""
    },
    {
        "iso_639_1": "zu",
        "english_name": "Zulu",
        "name": "isiZulu"
    },
    {
        "iso_639_1": "ab",
        "english_name": "Abkhazian",
        "name": ""
    },
    {
        "iso_639_1": "zh",
        "english_name": "Mandarin",
        "name": "\u666e\u901a\u8bdd"
    },
    {
        "iso_639_1": "ps",
        "english_name": "Pushto",
        "name": "\u067e\u069a\u062a\u0648"
    },
    {
        "iso_639_1": "am",
        "english_name": "Amharic",
        "name": ""
    },
    {
        "iso_639_1": "ar",
        "english_name": "Arabic",
        "name": "\u0627\u0644\u0639\u0631\u0628\u064a\u0629"
    },
    {
        "iso_639_1": "bg",
        "english_name": "Bulgarian",
        "name": "\u0431\u044a\u043b\u0433\u0430\u0440\u0441\u043a\u0438 \u0435\u0437\u0438\u043a"
    },
    {
        "iso_639_1": "cn",
        "english_name": "Cantonese",
        "name": "\u5e7f\u5dde\u8bdd / \u5ee3\u5dde\u8a71"
    },
    {
        "iso_639_1": "mk",
        "english_name": "Macedonian",
        "name": ""
    },
    {
        "iso_639_1": "el",
        "english_name": "Greek",
        "name": "\u03b5\u03bb\u03bb\u03b7\u03bd\u03b9\u03ba\u03ac"
    },
    {
        "iso_639_1": "fa",
        "english_name": "Persian",
        "name": "\u0641\u0627\u0631\u0633\u06cc"
    },
    {
        "iso_639_1": "he",
        "english_name": "Hebrew",
        "name": "\u05e2\u05b4\u05d1\u05b0\u05e8\u05b4\u05d9\u05ea"
    },
    {
        "iso_639_1": "hi",
        "english_name": "Hindi",
        "name": "\u0939\u093f\u0928\u094d\u0926\u0940"
    },
    {
        "iso_639_1": "hy",
        "english_name": "Armenian",
        "name": ""
    },
    {
        "iso_639_1": "en",
        "english_name": "English",
        "name": "English"
    },
    {
        "iso_639_1": "ee",
        "english_name": "Ewe",
        "name": "\u00c8\u028begbe"
    },
    {
        "iso_639_1": "ka",
        "english_name": "Georgian",
        "name": "\u10e5\u10d0\u10e0\u10d7\u10e3\u10da\u10d8"
    },
    {
        "iso_639_1": "pa",
        "english_name": "Punjabi",
        "name": "\u0a2a\u0a70\u0a1c\u0a3e\u0a2c\u0a40"
    },
    {
        "iso_639_1": "bn",
        "english_name": "Bengali",
        "name": "\u09ac\u09be\u0982\u09b2\u09be"
    },
    {
        "iso_639_1": "bs",
        "english_name": "Bosnian",
        "name": "Bosanski"
    },
    {
        "iso_639_1": "ch",
        "english_name": "Chamorro",
        "name": "Finu' Chamorro"
    },
    {
        "iso_639_1": "be",
        "english_name": "Belarusian",
        "name": "\u0431\u0435\u043b\u0430\u0440\u0443\u0441\u043a\u0430\u044f \u043c\u043e\u0432\u0430"
    },
    {
        "iso_639_1": "yo",
        "english_name": "Yoruba",
        "name": "\u00c8d\u00e8 Yor\u00f9b\u00e1"
    }
]

In [3]:
languages_df = pd.DataFrame(response)
languages_df

    iso_639_1 english_name             name
0          xx  No Language      No Language
1          aa         Afar
2          af    Afrikaans        Afrikaans
3          ak         Akan
4          an    Aragonese
..        ...          ...              ...
182        bn      Bengali            বাংলা
183        bs      Bosnian         Bosanski
184        ch     Chamorro   Finu' Chamorro
185        be   Belarusian  беларуская мова
186        yo       Yoruba       Èdè Yorùbá

[187 rows x 3 columns]

In [38]:
rename_languages_df =languages_df.rename(columns={"iso_639_1": "Language_Id", "english_name": "Language"})

In [39]:
cleaned_languages_df = rename_languages_df.drop(columns="name")
cleaned_languages_df

    Language_Id     Language
0            xx  No Language
1            aa         Afar
2            af    Afrikaans
3            ak         Akan
4            an    Aragonese
..          ...          ...
182          bn      Bengali
183          bs      Bosnian
184          ch     Chamorro
185          be   Belarusian
186          yo       Yoruba

[187 rows x 2 columns]

In [45]:
cleaned_languages_df.to_csv("../Outputs/Languages.csv", encoding='utf8', index=False)

In [7]:
# extract genres data

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": api_key
}

response = requests.get(url, headers=headers).json()
print(json.dumps(response["genres"], indent=4))

[
    {
        "id": 28,
        "name": "Action"
    },
    {
        "id": 12,
        "name": "Adventure"
    },
    {
        "id": 16,
        "name": "Animation"
    },
    {
        "id": 35,
        "name": "Comedy"
    },
    {
        "id": 80,
        "name": "Crime"
    },
    {
        "id": 99,
        "name": "Documentary"
    },
    {
        "id": 18,
        "name": "Drama"
    },
    {
        "id": 10751,
        "name": "Family"
    },
    {
        "id": 14,
        "name": "Fantasy"
    },
    {
        "id": 36,
        "name": "History"
    },
    {
        "id": 27,
        "name": "Horror"
    },
    {
        "id": 10402,
        "name": "Music"
    },
    {
        "id": 9648,
        "name": "Mystery"
    },
    {
        "id": 10749,
        "name": "Romance"
    },
    {
        "id": 878,
        "name": "Science Fiction"
    },
    {
        "id": 10770,
        "name": "TV Movie"
    },
    {
        "id": 53,
        "name": "Thriller"
    },
    {
        "id": 10752,
        "name": "War"
    },
    {
        "id": 37,
        "name": "Western"
    }
]

In [8]:
genres_df = pd.DataFrame(response["genres"])
genres_df

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [43]:
cleaned_genres_df = genres_df.rename(columns={"id":"Genre_Id", "name":"Genres"})
cleaned_genres_df

    Genre_Id           Genres
0         28           Action
1         12        Adventure
2         16        Animation
3         35           Comedy
4         80            Crime
5         99      Documentary
6         18            Drama
7      10751           Family
8         14          Fantasy
9         36          History
10        27           Horror
11     10402            Music
12      9648          Mystery
13     10749          Romance
14       878  Science Fiction
15     10770         TV Movie
16        53         Thriller
17     10752              War
18        37          Western

In [46]:
cleaned_genres_df.to_csv("../Outputs/Genres.csv", encoding='utf8', index=False)

In [11]:

page_numbers = range(1,101)

movie_dict = []

start_date = "2019-01-01"


for page_number in page_numbers:
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&page={page_number}&primary_release_date.gte={start_date}"
                                                                                                                                            

    headers = {
        "accept": "application/json",
        "Authorization": api_key
        }

    response = requests.get(url, headers=headers).json()
    for x in range(20):
        movie_dict.append(response["results"][x])

In [12]:
len(movie_dict)

2000

In [13]:
movie_df = pd.DataFrame(movie_dict)
movie_df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,"[16, 10751, 12, 35]",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,4128.506,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,False,7.710,1288
1,False,/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg,"[28, 12, 878]",786892,en,Furiosa: A Mad Max Saga,"As the world fell, young Furiosa is snatched f...",4115.719,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,2024-05-22,Furiosa: A Mad Max Saga,False,7.700,1688
2,False,/fqv8v6AycXKsivp1T5yKtLbGXce.jpg,"[878, 12, 28]",653346,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,1777.192,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,2024-05-08,Kingdom of the Planet of the Apes,False,6.863,1291
3,False,/gRApXuxWmO2forYTuTmcz5RaNUV.jpg,"[28, 80, 53, 35]",573435,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",1329.004,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,2024-06-05,Bad Boys: Ride or Die,False,7.025,477
4,False,/aATi2PtaOQCVAquCym6OU0Z4FjY.jpg,"[28, 80, 53]",704673,en,Trigger Warning,A Special Forces commando uncovers a dangerous...,1205.913,/6XJM3C47iGOK9nFU6yLFCSf4U5c.jpg,2024-06-20,Trigger Warning,False,5.779,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,/6TPZSJ06OEXeelx1U1VIAt0j9Ry.jpg,"[28, 80, 53]",587996,es,Bajocero,"When a prisoner transfer van is attacked, the ...",15.647,/oYEORVxp2ZfknTQYhEsNkv2HYss.jpg,2021-01-29,Below Zero,False,6.384,889
1996,False,/dA34DDakXgvbjnyKocOcLJtKz0.jpg,"[12, 18, 36]",739986,en,True Spirit,When the tenacious young sailor Jessica Watson...,29.236,/B7m21gukMeVK3NAuk1PLCo9C8p.jpg,2023-01-26,True Spirit,False,6.961,205
1997,False,/eevJuYAitUe6VwFN29aFwzeyeTr.jpg,"[28, 16, 80, 9648]",537056,en,Batman: Hush,A mysterious new villain known only as Hush us...,16.890,/eiVQORVyVuNNZHPAELuWtlXoQsD.jpg,2019-07-19,Batman: Hush,False,7.179,843
1998,False,/hXjK21t5S6WRR8HnG3apYpZ5lJW.jpg,"[53, 27, 18]",617708,es,La Llorona,"Accused of the genocide of Mayan people, retir...",16.641,/2AmTEIwxy1VkcZe32Fs34S37qJ2.jpg,2019-07-25,La Llorona,False,6.436,319
1999,False,/8J5GetxLHw6R380GUBEmH95dvrl.jpg,"[18, 37, 10749]",963765,es,Extraña forma de vida,"After 25 years, an ex hired gun visits his old...",17.678,/1hLsR3aYCXnyRopd7JZHXI1p9Jm.jpg,2023-05-26,Strange Way of Life,False,6.487,238

In [14]:
movie_df['genre_ids'] =  movie_df['genre_ids'].astype(str).apply(lambda x: x.replace('[','').replace(']','')) 
movie_df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/xg27NrXi7VXCGUr7MG75UqLl6Vg.jpg,"16, 10751, 12, 35",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,4128.506,/vpnVM9B6NMmQpWeZvzLvDESb2QY.jpg,2024-06-11,Inside Out 2,False,7.710,1288
1,False,/wNAhuOZ3Zf84jCIlrcI6JhgmY5q.jpg,"28, 12, 878",786892,en,Furiosa: A Mad Max Saga,"As the world fell, young Furiosa is snatched f...",4115.719,/iADOJ8Zymht2JPMoy3R7xceZprc.jpg,2024-05-22,Furiosa: A Mad Max Saga,False,7.700,1688
2,False,/fqv8v6AycXKsivp1T5yKtLbGXce.jpg,"878, 12, 28",653346,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,1777.192,/gKkl37BQuKTanygYQG1pyYgLVgf.jpg,2024-05-08,Kingdom of the Planet of the Apes,False,6.863,1291
3,False,/gRApXuxWmO2forYTuTmcz5RaNUV.jpg,"28, 80, 53, 35",573435,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",1329.004,/nP6RliHjxsz4irTKsxe8FRhKZYl.jpg,2024-06-05,Bad Boys: Ride or Die,False,7.025,477
4,False,/aATi2PtaOQCVAquCym6OU0Z4FjY.jpg,"28, 80, 53",704673,en,Trigger Warning,A Special Forces commando uncovers a dangerous...,1205.913,/6XJM3C47iGOK9nFU6yLFCSf4U5c.jpg,2024-06-20,Trigger Warning,False,5.779,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,/6TPZSJ06OEXeelx1U1VIAt0j9Ry.jpg,"28, 80, 53",587996,es,Bajocero,"When a prisoner transfer van is attacked, the ...",15.647,/oYEORVxp2ZfknTQYhEsNkv2HYss.jpg,2021-01-29,Below Zero,False,6.384,889
1996,False,/dA34DDakXgvbjnyKocOcLJtKz0.jpg,"12, 18, 36",739986,en,True Spirit,When the tenacious young sailor Jessica Watson...,29.236,/B7m21gukMeVK3NAuk1PLCo9C8p.jpg,2023-01-26,True Spirit,False,6.961,205
1997,False,/eevJuYAitUe6VwFN29aFwzeyeTr.jpg,"28, 16, 80, 9648",537056,en,Batman: Hush,A mysterious new villain known only as Hush us...,16.890,/eiVQORVyVuNNZHPAELuWtlXoQsD.jpg,2019-07-19,Batman: Hush,False,7.179,843
1998,False,/hXjK21t5S6WRR8HnG3apYpZ5lJW.jpg,"53, 27, 18",617708,es,La Llorona,"Accused of the genocide of Mayan people, retir...",16.641,/2AmTEIwxy1VkcZe32Fs34S37qJ2.jpg,2019-07-25,La Llorona,False,6.436,319
1999,False,/8J5GetxLHw6R380GUBEmH95dvrl.jpg,"18, 37, 10749",963765,es,Extraña forma de vida,"After 25 years, an ex hired gun visits his old...",17.678,/1hLsR3aYCXnyRopd7JZHXI1p9Jm.jpg,2023-05-26,Strange Way of Life,False,6.487,238

In [15]:
dropped_movies_df = movie_df.drop(columns=["adult", "backdrop_path", "poster_path", "video",])
dropped_movies_df

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,"16, 10751, 12, 35",1022789,en,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,4128.506,2024-06-11,Inside Out 2,7.710,1288
1,"28, 12, 878",786892,en,Furiosa: A Mad Max Saga,"As the world fell, young Furiosa is snatched f...",4115.719,2024-05-22,Furiosa: A Mad Max Saga,7.700,1688
2,"878, 12, 28",653346,en,Kingdom of the Planet of the Apes,Several generations in the future following Ca...,1777.192,2024-05-08,Kingdom of the Planet of the Apes,6.863,1291
3,"28, 80, 53, 35",573435,en,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",1329.004,2024-06-05,Bad Boys: Ride or Die,7.025,477
4,"28, 80, 53",704673,en,Trigger Warning,A Special Forces commando uncovers a dangerous...,1205.913,2024-06-20,Trigger Warning,5.779,240
...,...,...,...,...,...,...,...,...,...,...
1995,"28, 80, 53",587996,es,Bajocero,"When a prisoner transfer van is attacked, the ...",15.647,2021-01-29,Below Zero,6.384,889
1996,"12, 18, 36",739986,en,True Spirit,When the tenacious young sailor Jessica Watson...,29.236,2023-01-26,True Spirit,6.961,205
1997,"28, 16, 80, 9648",537056,en,Batman: Hush,A mysterious new villain known only as Hush us...,16.890,2019-07-19,Batman: Hush,7.179,843
1998,"53, 27, 18",617708,es,La Llorona,"Accused of the genocide of Mayan people, retir...",16.641,2019-07-25,La Llorona,6.436,319
1999,"18, 37, 10749",963765,es,Extraña forma de vida,"After 25 years, an ex hired gun visits his old...",17.678,2023-05-26,Strange Way of Life,6.487,238

In [16]:
sorted_vote_movies_df = dropped_movies_df.sort_values("vote_average", ascending=False)
sorted_vote_movies_df

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
679,10749,719457,ko,옆집 소녀 4,"Even Dong-ho, who got his dream home, went to ...",35.727,2020-07-03,The Girl Next Door 4,10.0,1
684,"18, 10749",1135869,id,Kelas Bintang - Salome,Kelas Bintang is back with this pack of drama ...,48.501,2023-05-13,Salome,10.0,1
314,10749,766836,ko,아들의 여친 아빠의 여친,"Dong-gook, who is thinking of remarrying, intr...",87.841,2020-11-13,"Son's Girlfriend, Daddy's Girlfriend",10.0,1
1288,18,1241750,tl,Mapanukso,Story about a group of five macho dancers navi...,21.699,2024-03-15,Mapanukso,10.0,1
567,"27, 18, 9648, 53",1020830,mn,Aberrance,An estranged couple takes a retreat in the woo...,49.374,2022-08-01,Aberrance,10.0,1
...,...,...,...,...,...,...,...,...,...,...
1886,,1261287,pt,Constantine 2,,19.759,2024-09-20,Constantine 2,0.0,0
667,"27, 18",1134562,en,The Woman Under the Stage,A young woman discovers just how far she will ...,42.870,2023-08-03,The Woman Under the Stage,0.0,0
670,"28, 878, 12",365177,en,Borderlands,"After returning to her home planet Pandora, in...",46.824,2024-08-07,Borderlands,0.0,0
677,"28, 80, 53",755679,en,Fast X: Part 2,The eleventh installment in The Fast Saga.,42.755,2026-06-22,Fast X: Part 2,0.0,0
621,10749,689160,ko,맛있는 과외누나,Bong-soo receives a love tutor from Hope to es...,48.013,2020-04-03,Delicious Tutor,0.0,0

In [17]:
vote_count_movies_df = sorted_vote_movies_df.loc[sorted_vote_movies_df["vote_count"] > 1000]
vote_count_movies_df

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
200,"35, 53, 18",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",86.639,2019-05-30,Parasite,8.500,17702
103,"16, 28, 12, 878",569094,en,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",176.846,2023-05-31,Spider-Man: Across the Spider-Verse,8.365,6427
971,18,637920,tr,7. Koğuştaki Mucize,"Separated from his daughter, a father with an ...",34.256,2019-10-10,Miracle in Cell No. 7,8.300,4327
619,"10749, 18",527641,en,Five Feet Apart,Seventeen-year-old Stella spends most of her t...,41.779,2019-03-14,Five Feet Apart,8.268,5475
551,"18, 10749",447362,en,Life in a Year,A 17 year old finds out that his girlfriend is...,53.193,2020-11-27,Life in a Year,8.261,1793
...,...,...,...,...,...,...,...,...,...,...
1279,"53, 9648, 18",452832,en,Serenity,"The quiet life of Baker Dill, a fishing boat c...",29.511,2019-01-24,Serenity,5.500,1488
1451,"27, 9648",465086,en,The Grudge,After a young mother murders her family in her...,16.911,2019-12-31,The Grudge,5.500,1157
976,"27, 53",632727,en,Texas Chainsaw Massacre,"After nearly 50 years of hiding, Leatherface r...",32.992,2022-02-18,Texas Chainsaw Massacre,5.214,1374
517,"27, 53",980078,en,Winnie the Pooh: Blood and Honey,Christopher Robin is headed off to college and...,51.232,2023-01-27,Winnie the Pooh: Blood and Honey,5.121,1252
783,878,433249,en,IO,As a young scientist searches for a way to sav...,40.690,2019-01-18,IO,4.927,1330

In [18]:
top_500_movies_df = pd.DataFrame(vote_count_movies_df.head(500), columns=vote_count_movies_df.columns).reset_index()
top_500_movies_df

,index,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,200,"35, 53, 18",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",86.639,2019-05-30,Parasite,8.500,17702
1,103,"16, 28, 12, 878",569094,en,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",176.846,2023-05-31,Spider-Man: Across the Spider-Verse,8.365,6427
2,971,18,637920,tr,7. Koğuştaki Mucize,"Separated from his daughter, a father with an ...",34.256,2019-10-10,Miracle in Cell No. 7,8.300,4327
3,619,"10749, 18",527641,en,Five Feet Apart,Seventeen-year-old Stella spends most of her t...,41.779,2019-03-14,Five Feet Apart,8.268,5475
4,551,"18, 10749",447362,en,Life in a Year,A 17 year old finds out that his girlfriend is...,53.193,2020-11-27,Life in a Year,8.261,1793
...,...,...,...,...,...,...,...,...,...,...,...
495,1235,"28, 53, 80",539885,en,Ava,A black ops assassin is forced to fight for he...,27.375,2020-07-02,Ava,5.820,2504
496,868,"28, 80, 53, 35",438650,en,Cold Pursuit,"The quiet family life of Nels Coxman, a snowpl...",41.473,2019-02-07,Cold Pursuit,5.810,2502
497,1869,"27, 14, 12, 9648",539537,en,Fantasy Island,A group of contest winners arrive at an island...,24.285,2020-02-12,Fantasy Island,5.809,2378
498,1144,"27, 53, 9648",502416,en,Ma,Sue Ann is a loner who keeps to herself in her...,37.100,2019-05-29,Ma,5.800,2128
499,1755,"878, 53",615469,en,Spiderhead,A prisoner in a state-of-the-art penitentiary ...,29.211,2022-06-17,Spiderhead,5.798,1474

In [33]:
top_500_movies_df["original_language"].value_counts()

original_language
en    458
ja     10
fr      9
ko      5
es      5
pl      3
de      2
no      2
it      2
tr      1
te      1
da      1
fi      1
Name: count, dtype: int64

In [34]:
cleaned_top_500_movies_df = top_500_movies_df[["id", "original_title", "title", "genre_ids", "original_language","overview", "release_date", "popularity", "vote_average", "vote_count"]]
cleaned_top_500_movies_df

,id,original_title,title,genre_ids,original_language,overview,release_date,popularity,vote_average,vote_count
0,496243,기생충,Parasite,"35, 53, 18",ko,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,86.639,8.500,17702
1,569094,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,"16, 28, 12, 878",en,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,176.846,8.365,6427
2,637920,7. Koğuştaki Mucize,Miracle in Cell No. 7,18,tr,"Separated from his daughter, a father with an ...",2019-10-10,34.256,8.300,4327
3,527641,Five Feet Apart,Five Feet Apart,"10749, 18",en,Seventeen-year-old Stella spends most of her t...,2019-03-14,41.779,8.268,5475
4,447362,Life in a Year,Life in a Year,"18, 10749",en,A 17 year old finds out that his girlfriend is...,2020-11-27,53.193,8.261,1793
...,...,...,...,...,...,...,...,...,...,...
495,539885,Ava,Ava,"28, 53, 80",en,A black ops assassin is forced to fight for he...,2020-07-02,27.375,5.820,2504
496,438650,Cold Pursuit,Cold Pursuit,"28, 80, 53, 35",en,"The quiet family life of Nels Coxman, a snowpl...",2019-02-07,41.473,5.810,2502
497,539537,Fantasy Island,Fantasy Island,"27, 14, 12, 9648",en,A group of contest winners arrive at an island...,2020-02-12,24.285,5.809,2378
498,502416,Ma,Ma,"27, 53, 9648",en,Sue Ann is a loner who keeps to herself in her...,2019-05-29,37.100,5.800,2128
499,615469,Spiderhead,Spiderhead,"878, 53",en,A prisoner in a state-of-the-art penitentiary ...,2022-06-17,29.211,5.798,1474

In [35]:
cleaned_top_500_movies_df = cleaned_top_500_movies_df.rename(columns=str.title)

In [41]:
final_top_500_movies_df = cleaned_top_500_movies_df.drop(columns="Genre_Ids").rename(columns={"Id": "Movie_Id", "Original_Language": "Language_Id"})
final_top_500_movies_df

,Movie_Id,Original_Title,Title,Language_Id,Overview,Release_Date,Popularity,Vote_Average,Vote_Count
0,496243,기생충,Parasite,ko,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,86.639,8.500,17702
1,569094,Spider-Man: Across the Spider-Verse,Spider-Man: Across the Spider-Verse,en,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,176.846,8.365,6427
2,637920,7. Koğuştaki Mucize,Miracle in Cell No. 7,tr,"Separated from his daughter, a father with an ...",2019-10-10,34.256,8.300,4327
3,527641,Five Feet Apart,Five Feet Apart,en,Seventeen-year-old Stella spends most of her t...,2019-03-14,41.779,8.268,5475
4,447362,Life in a Year,Life in a Year,en,A 17 year old finds out that his girlfriend is...,2020-11-27,53.193,8.261,1793
...,...,...,...,...,...,...,...,...,...
495,539885,Ava,Ava,en,A black ops assassin is forced to fight for he...,2020-07-02,27.375,5.820,2504
496,438650,Cold Pursuit,Cold Pursuit,en,"The quiet family life of Nels Coxman, a snowpl...",2019-02-07,41.473,5.810,2502
497,539537,Fantasy Island,Fantasy Island,en,A group of contest winners arrive at an island...,2020-02-12,24.285,5.809,2378
498,502416,Ma,Ma,en,Sue Ann is a loner who keeps to herself in her...,2019-05-29,37.100,5.800,2128
499,615469,Spiderhead,Spiderhead,en,A prisoner in a state-of-the-art penitentiary ...,2022-06-17,29.211,5.798,1474

In [47]:
final_top_500_movies_df.to_csv("../Outputs/movies.csv", encoding='utf8', index=False)

In [23]:
movie_genre_df = pd.DataFrame({"Movie_id": cleaned_top_500_movies_df["Id"],
                               "Genre_id": cleaned_top_500_movies_df["Genre_Ids"]})
movie_genre_df

     Movie_id          Genre_id
0      496243        35, 53, 18
1      569094   16, 28, 12, 878
2      637920                18
3      527641         10749, 18
4      447362         18, 10749
..        ...               ...
495    539885        28, 53, 80
496    438650    28, 80, 53, 35
497    539537  27, 14, 12, 9648
498    502416      27, 53, 9648
499    615469           878, 53

[500 rows x 2 columns]

In [31]:
split_df = movie_genre_df.assign(Genre_id=movie_genre_df['Genre_id'].str.split(',')).explode('Genre_id').reset_index()

cleaned_movie_genre_df = split_df[["Movie_id", "Genre_id"]].rename(columns=str.title)
cleaned_movie_genre_df

      Movie_Id Genre_Id
0       496243       35
1       496243       53
2       496243       18
3       569094       16
4       569094       28
...        ...      ...
1422    502416       27
1423    502416       53
1424    502416     9648
1425    615469      878
1426    615469       53

[1427 rows x 2 columns]

In [56]:
cleaned_movie_genre_df["Genre_Id"] = cleaned_movie_genre_df["Genre_Id"].apply(lambda x: x.replace(' ',''))

In [59]:
cleaned_movie_genre_df.to_csv("../Outputs/movie_genre.csv",  encoding='utf8', index=False)